*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 300px;
    height: 300px;
    background:linear-gradient(red 50%,green 0 60%,yellow 0) ;
    /* transform:translate(100px); */
    /* transform: rotate(45deg); */
    /* transform: scale(2); */
    /* transform: skew(15deg); */
    /* transform: matrix(1,-2); */
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    /* 1-scaleX 2-skewY 3-skewX 4-scaleY 5-translateX 6-translateY 
}