*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    padding: 100px;
}
/* div{
    border: 1px solid red;
    
}nav{
   border: 1px solid; 
   
}nav,div{
    padding: 10px;
    margin: 10px;
} */
/* div:hover{
    background-color: black;
    color: #fff;
}nav:visited{
    background-color: red;
    color: blue;
} */
/* img{
    opacity:.5;
}img:hover{
    opacity: 1;
} */

.ota{width: 100%;
    height: 70vh;
    border: 3px solid;
    /* padding: 10px; */
    background-color: gray;
    display: flex;
    align-items: center; /*flex-start , center, flex-end*/
    justify-content:center ; /*start, center, end, space-beetwen, space-around, space-evenly*/
    
}
.bola{
    width: 150px;height: 150px;
    background-color: red;
    margin: 10px;
}