@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;  
  font-family: 'Montserrat';
  /* position: absolute; */
}
body{
    padding: 100px;
}
.fa-brands{ 
    color: blue;
    font-size:30px ;
}.fa-brands:nth-child(2){
    color: brown;
}
.qizil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;

    /* bu z oqidagi indexsi yani indeks baland bolsa utiga chiqaveradi */ 
    z-index: 1;
}
.kok{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}
h1{
    /* textni markazga keltiruvchi */
    text-align: center;
}
.box{
    padding: 20px;
    width: 1000px;height:50vh;
    background: linear-gradient(to right,#000 50%,gray 0);
    color: red;
    border: 2px solid;
    /* overflov bu box chekkalari bilan ishovchi class  */
    /* uning qiymatlari (asosiylari) : hidden - Scroll  */
    overflow: hidden;

    /* y yoki x oqida scroll yoki yashirmoqchi bolsez qiymatlarni berishingiz mumkn */
    overflow-y: hidden;

    /* float joylashuvni anglatadi right left none qiymatlarga edga */
    /* position lar bilan teng qolaap bolmaydi */
    float: right;
}
.card{
    width: 200px;
    height:100px;
    background-color: red;
    margin-left: 20px;

}