*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* 
.card{
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    border: 1px solid;
    border-radius: 35px;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 70%;
    background-image: url("https://avatars.mds.yandex.net/i?id=91855d5607a09a29727183967f7066e683fe8cb8-6848401-images-thumbs&n=13");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}p{
width: 100%;
height: 30%;
padding: 30px 50px;
} */

/* .box{
    background-color: whitesmoke;
    width: 80%;
    padding: 30px;
}input{
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin: 5px 0 17px 0;
}
select{
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin: 5px 0 35px 0;
}
button{
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    background-color: rgb(29, 159, 103);
} */
.box{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction:;  */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap:wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    gap: 5px;
}
.card{
    background-color: red;
    width: 100px;
    height: 100px;
}
div{
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
}